.user-box{
  width: 120px;
  text-align: center;
  img.user-thumbnail{
    width: 92px;
    border-radius: 46px;
    border: 1px solid #777;
  }
  .name{
    margin-top: 5px;
    font-size: 12px;
  }
}