.room{
  width: 800px;
  padding-top: 20px;
  margin-bottom: 90px;
  ul.messages{
    li.message{
      position: relative;
      height: 140px;
      overflow: hidden;
      .user-box{
        position: absolute;
        top: 0;
        left: 0;
      }
      .message{
        position: absolute;
        top: 5px;
        left: 125px;
        right: 20px;
        min-height: 80px;
        padding: 10px;
        border: 1px solid #cdcecf;
        border-radius: 8px;
        background-color: #f6f7f8;
        word-break: break-word;
        img{
          height: 80px;
        }
      }
      .created{
        position: absolute;
        top: 90px;
        right: 30px;
        font-size: 11px;
        color: #3b5998;
      }
    }
  }
}